.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  text-align: center;
  padding-top: 50px;
  transition: padding-top 0.5s ease;
}

.top-section{
  transition: transform 0.5s ease;
}

.top-section.shift-up{
  transform: translateY(-100px);
}
.search-container{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.app h1{
  font-size: 4.5rem; /* rem means to multiply by the current px size */
  color: #1e90ff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.search-container input,
.search-container button{
  font-size: 2rem;
  padding: 10px;
  border-radius: 6px;
}

.search-container button{
  background-color: #1e90ff;
  color: white;
  border: none;
  cursor: pointer;
}

.results-container{
  margin-top: 2rem;
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.drug-info{
  background-color: #74a6d9;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.drug-info h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.drug-info h3{
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}
.info-section{
  margin-bottom: 1rem;
}

.warning-text{
  color: #f12020;
  margin-bottom: 1rem;
}

.no-results, .loading, .error{
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.error{
  color: white;
  font-weight: bold;
  background-color: #ff4d4f;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ff4d4f;
  border-radius: 5px;
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
